// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body h1 {
  font-family: Oswald, Helvetica, sans-serif;
 }

 a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }
