  <div class="footer">
    <div class="links">
      <p><a href="/">HOME</p>
      <p><a href="#">ABOUT</p>
      <p><a href="#">CONTACT</p>
      <p><a href="#">FAQ</p>
      <br>
      <p id="made">This website was coded with spice at HotMail HQ.</p>
    </div>
  </div>
