  <div class="footer">
    <div class="links">
      <h2><a href="/">HOME</h2>
      <h2><a href="#">ABOUT</h2>
      <h2><a href="#">CONTACT</h2>
      <h2><a href="#">FAQ</h2>
      <br>
      <p>This website was coded with spice at HotMail HQ.</p>
    </div>
  </div>
