  <div class="footer">
    <div class="links d-flex justify-content-around">
      <p><a href="/">HOME</p>
      <p><a href="/about">ABOUT</p>
      <p><a href="#">CONTACT</p>
      <p><a href="/blog">BLOG</p>
      <p><a href="#">FAQ</p>
      <br>
    </div>
      <p id="made">This website was coded with spice at HotMail HQ.</p>
  </div>
