
<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
<!--Waves end-->


<!--Header ends-->
  <div class="footer">
    <div class="links d-flex justify-content-around">
      <p><a href="/">HOME</p>
      <p><a href="/about">ABOUT</p>
      <p><a href="#">CONTACT</p>
      <p><a href="/blog">BLOG</p>
      <p><a href="#">FAQ</p>
      <p><a href="/worldbuttons">WORLD</p>
      <br>
    </div>
      <p id="made">This website was coded with spice at HotMail HQ.</p>
      <p id="made"> <img src="https://www.merchantequip.com/image/?logos=v|m|a|d|p|jcb|s|bit|gw|apl|ssp|adp&height=32" alt="Merchant Equipment Store Credit Card Logos"/></p>
      <p id="made">Copyright 2022 © HotMail Co. Ltd All Rights Reserved</p>
  </div>
