<nav class="navbar">
  <ul class="nav-links">
    <div class="menu">
      <li><a href="#">What we do</a></li>
      <li><a href="#">Shop sauce</a></li>
      <li class="services">
        <a href="#">more</a>
      </li>
    </div>
  </ul>
  <div class="logo">HM</div>
</nav>
