<div class="container">
  <h1>Order History</h1>
  <p>Your past orders with us:</p>
  <% @orders.each do |order| %>
    Order Number: <%= order.id %>
    <br>
    Total Cost: <%= order.price %>
    <hr>
  <% end %>

  <%= link_to "All Sauces", products_path %>
</div>
