<div class="container">
  <h1 class="my-3">Order History</h1>
  <p>Your past orders with us:</p>
  <% @orders.each do |order| %>
    <% if order.complete  %>
      Order Number: <%= order.id %>
      <br>
      Total Cost: <%= order.amount %>
      <br>
      <%= link_to "Go to this order", order_path(order) %>
      <hr>
      <% else  %>
      <h2>No order history yet.</h2>
    <% end %>
  <% end %>
  <%= link_to "All Sauces", products_path %>
</div>
