<div class="container">
  <h1>Recipes</h1>
  <div class="recipe">
    <div class="recipe-img1"> </div>
    <p class="recipe-text">
    <div><h4>How to make your own Garlic-Habanero Chilli sauce</h4></div>

    <div>A spicy habanero hot sauce recipe made with fiery roasted habanero peppers and plenty of garlic, ideal for spicing up your favorite foods.</div>

    <div>Time for hot sauce, my friends! As as spicy food lover, I already know you love a good hot sauce. There are so many wonderful artisan brands out on the market, and I love so many of them, but I also LOVE making my own hot sauce at home.
  Today we're making a wonderful Garlicky Habanero Hot Sauce with lots of fiery habanero peppers and loads of fresh garlic. I think you're going to love this one. It is huge on flavor with just the right combination of fruity heat and wonderful garlic.
  Habanero peppers are no slouch when it comes to heat. These babies pack around 300,000 Scoville Heat Units on the Scoville Scale, and that is still plenty hot enough for some, even too hot for many, though it is somewhat tamped down in this recipe.
  You will certainly get the heat and fruity habanero flavor, but the garlic is quite pronounced and somewhat vinegary with nice citrus tones. I was very happy with both versions. This is more of an everyday sauce, something you can splash on just about anything that needs a bit of moisture and would benefit from some garlic flavors, as well as heat.
  For me, everything needs a little bit of heat and zestiness.
  I would encourage my superhot loving readers to try this with scorpion peppers. 7-Pot chili peppers would be nice as well, with their gentler blooming heat that builds to a powerful crescendo, though habaneros are still plenty good here, and they're much easier to find.
  Let's talk about how we make it, shall we?</div>

  <div>
    <p><strong><h6>Ingredients</h6></strong></p>
    <ul>
    <li>6-8 habanero peppers stemmed and halved</li>
    <li>2 tablespoons olive oil</li>
    <li>1 cup water</li>
    <li>4 cups white vinegar</li>
    <li>20 garlic cloves peeled and coarsely chopped</li>
    <li>1 onion chopped</li>
    <li>1 tablespoon sugar or to taste</li>
    <li>3 teaspoons Worcestershire sauce</li>
    <li>½ cup lime juice</li>
    <li>1 teaspoon ground cumin</li>
    <li>1 teaspoon salt</li>
    </ul>
  </div>

  <div>
    <p><strong><h6>Instructions</h6></strong></p>
    <ol>
      <li>Preheat oven to 425°.</li>
      <li>Set peppers on a baking sheet and sprinkle with 2 tablespoons olive oil.</li>
      <li>Roast in the oven 15-20 minutes or until soft and skins begin to blister.</li>
      <li>Heat a large pot to medium heat and add remaining ingredients. Bring to a boil then reduce heat to low and simmer about 20 minutes, or until onion and garlic soften.</li>
      <li>Add roasted peppers and simmer about 5 minutes.</li>
      <li>Transfer mixture to a food processor and puree until smooth. Alternatively, use an immersion blender and puree directly in the pot.</li>
      <li>Simmer another 5-10 minutes.</li>
      <li>Serve, or strain into sterilized bottles until ready to use.</li>
    </ol>
  </div>

  <div>
    <h6>Notes:</h6>
    Should keep about a month.
    Heat Factor: Hot.
    Try Yellow Scorpion peppers for this recipe if you're looking for some REAL heat.
  </div>

  </p>
  </div>

  <div class="recipe">
  <img src="https://i2.wp.com/chilipeppermadness.com/wp-content/uploads/2018/03/d7e3ca5cbffab97634af0e92f7679a11.jpg" alt="" class="image2" style="height: 500px;">
  <p class="recipe-text">
  <div><h4>5-Alarm Superhot Chicken Wings</h4></div>

  <div>These spicy baked chicken wings are outrageously hot, rubbed with a mixture of 5 ground Carolina Reapers and served with a bottle of flaming hot sauce. This recipe is not for the faint of heart.</div>
  </div>
  <div>
    <p><strong><h6>Ingredients</h6></strong></p>
    <ul>
      <li>2 pounds chicken wings separated and wing tips removed</li>
      <li>2 tablespoons olive oil</li>
      <li>5 dried Carolina Reaper pods</li>
      <li>1 tablespoon baking powder</li>
      <li>1 tablespoon garlic powder</li>
      <li>1 teaspoon salt</li>
      <li>1 cup flour</li>
      <li>Superhot hot sauce for serving</li>
    <ul>
  </div>


  <div>
    <p><strong><h6>Instructions</h6></strong></p>
    <ol>
    <li>Pat the wings as dry as you can get them. This will help with the crispiness.</li>
    <li>In a large bowl or molcajete, grind the Carolina Reaper pods into a powder. Add baking powder, garlic, salt and flour. Mix to combine.</li>
    <li>Lightly oil the chicken wings then dip them into the seasoned flour mixture. Get them nicely coated. The baking powder helps with the crispiness.</li>
    <li>Heat oven to 250 degrees. Set the wings onto a lightly oiled baking sheet and bake for 30 minutes.</li>
    <li>Increase oven heat to 425 degrees and bake another 30 minutes, or until the wings are cooked through and the skins are nice and crispy. You can also hit them with the broiler a couple minutes to crisp them up even more.</li>
    <li>Serve with the hot sauce on the side, or toss them in the hot sauce for even HOTTER wings, you crazy heat-loving animal!</li>
    </ol>
 </div>

  <div class="recipe">
    <div class="recipe-img3"></div>
    <p class="recipe-text">

  <h4>30-Minute Spicy Ginger Szechuan Beef</h4>
    <div>
    Imagine tender strips of flank steak covered in a Chinese five-spice Szechaun sauce. Now put it with crunchy carrots and celery strips for a spicy Szechuan beef that will rival any restaurant.

    Oh, and did I mention it’s ready in just 30 minutes?

    I know it’s hard to believe, but it’s true.
    </div>

    <div>
    All the great flavors you love about Szechuan beef, with a kick of fiery sweet ginger heat!  This Szechuan beef is the ultimate in Chinese take-out comfort food, yet is incredibly easy and ready in just 30 minutes!
    </div>

    <div>
      <p><strong><h6>Ingredients</h6><strong></p>

      <h6>BEEF:</h5>
      <Ul>
      <li>1.5 lb flank or skirt steak or use pre-sliced stir fry beef from the store</li>
      <li>1 Tbsp soy sauce</li>
      <li>1 Tbsp mirin</li>
      <li>3 Tbsp cornstarch</li>
      <li>3 Tbsp sesame oil</li>
      <li>VEGETABLE TOPPING</li>
      <li>2 - 3 celery stalks julienned into thin 2 inch long strips</li>
      <li>1/2 cup shredded carrots</li>
      <li>3 inch green onions sliced thinly, on a diagonal, into 1/2 pieces</li>
      </ul>


      <h6>SAUCE:</h6>
      <ul>
      <li>1 tsp crushed red pepper flakes</li>
      <li>1/4 tsp Chinese 5 spice</li>
      <li>2 cloves garlic minced</li>
      <li>2 Tbsp packed brown sugar</li>
      <li>1 inch of fresh Ginger grated or very finely minced</li>
      <li>4 Tbsp reduced sodium soy sauce</li>
      <li>2 Tbsp water</li>
      <li>1 Tbsp Sriracha</li>
      <li>1 Tbsp rice wine vinegar</li>
      <li>2 tsp hoisin sauce</li>
      <li>1 green onion thinly sliced</li>
      </ul>
    </div>

    <div>
      <h6>Instructions</h6>
      <ol>
      <li>Slice steak, across the grain, into 1/4 inch thick strips (see picture tutorial HERE), and place in a large plastic bag.</li>
      <li>Add mirin and soy sauce and massage into the meat. Add cornstarch, seal the bag and toss/massage to coat the meat.</li>
      <li>Let meat marinate for about 10 minutes or so.</li>
      <li>In a medium mixing bowl, whisk together sauce ingredients and set aside.</li>
      <li>Slice vegetables and set aside.</li>
      <li>Add sesame oil to wok (or large saute pan) and heat over MED-HIGH heat.</li>
      <li>Add beef to hot pan (just enough to cover the bottom of the pan - you'll probably want to do at least 2 batches), and saute about 2-3 minutes. Remove beef to a plate and cook remaining batches.</li>
      <li>Add sliced vegetables to the hot pan and cook about 1-3 minutes (depending on how tender you want them), stirring often.</li>
      <li>Pour in Szechuan sauce and cook about a minute, until slightly thickened.</li>
      <li>Add cooked beef and turn to coat in the sauce.</li>
      <li>Serve over Veetee Dine In Rice.</li>
      </ol>
    </div>
  </div>
</div>
