<%# intro to sauce %>

<div class="container my-5">
  <div id="introhead">
    <div class="row">
      <div class="column">
        <img class="my-5" id="stock" src="https://www.alphafoodie.com/wp-content/uploads/2020/12/Chilli-Sauce-1-of-1.jpeg" alt="">
      </div>
      <div class="column" id="fill">
        <h2 class="my-5">How to make your own Garlic-Habanero Chilli sauce</h2>
        <p>A spicy habanero hot sauce recipe made with fiery roasted habanero peppers and plenty of garlic, ideal for spicing up your favorite foods.</p>
        <p>Time for hot sauce, my friends! As as spicy food lover, I already know you love a good hot sauce. There are so many wonderful artisan brands out on the market, and I love so many of them, but I also LOVE making my own hot sauce at home.</p>
        <p>Today we're making a wonderful Garlicky Habanero Hot Sauce with lots of fiery habanero peppers and loads of fresh garlic. I think you're going to love this one. It is huge on flavor with just the right combination of fruity heat and wonderful garlic.</p>
      </div>
    </div>
  </div>
</div>

<%# ingredients checklist %>

<div class="container my-5">
  <div id="introhead">
    <div class="row">
      <div class="column2" id="fill2">
        <h2 class="my-5">INGREDIENTS</h2>
        <form action="/action_page.php">
          <input type="checkbox" id="ing1">
          <label for="ing1"></label>6-8 habanero peppers halved<br>
          <input type="checkbox" id="ing2">
          <label for="ing2"></label>1 cup water<br>
          <input type="checkbox" id="ing3">
          <label for="ing3"></label>4 cups white vinegar<br>
          <input type="checkbox" id="ing4">
          <label for="ing4"></label>20 garlic cloves peeled and chopped<br>
          <input type="checkbox" id="ing5">
          <label for="ing5"></label>1 onion chopped<br>
          <input type="checkbox" id="ing6">
          <label for="ing6"></label>1 tablespoon sugar or to taste<br>
          <input type="checkbox" id="ing7">
          <label for="ing7"></label>3 teaspoons Worcestershire sauce<br>
          <input type="checkbox" id="ing8">
          <label for="ing8"></label>½ cup lime juice<br>
          <input type="checkbox" id="ing9">
          <label for="ing9"></label>1 teaspoon ground cumin<br>
          <input type="checkbox" id="ing10">
          <label for="ing10"></label>1 teaspoon salt<br>
        </form>
      </div>
      <div class="column2">
        <img class="my-5" id="stock2" src="https://tastykitchen.com/wp-content/uploads/2011/03/TK-Blog-Habanero-Hot-Sauce-01.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<%# making Instructions %>

<div class="container my-5">
  <div id="introhead">
    <div class="row">
      <div class="column">
        <img class="my-5" id="stock" src="https://thatothercookingblog.com/wp-content/uploads/2017/11/IMG_8870.jpg" alt="">
      </div>
      <div class="column" id="fill">
        <h2 class="my-5">Instructions</h2>
        <p>Preheat oven to 425°.</p>
        <p>Set peppers on a baking sheet and sprinkle with 2 tablespoons olive oil.</p>
        <p>Roast in the oven 15-20 minutes or until soft and skins begin to blister.</p>
        <p>Heat a large pot to medium heat and add remaining ingredients. Bring to a boil then reduce heat to low and simmer about 20 minutes, or until onion and garlic soften.</p>
        <p>Add roasted peppers and simmer about 5 minutes.</p>
        <p>Transfer mixture to a food processor and puree until smooth. Alternatively, use an immersion blender and puree directly in the pot.</p>
        <p>Simmer another 5-10 minutes.</p>
        <p>Serve, or strain into sterilized bottles until ready to use.</p>
      </div>
    </div>
  </div>
</div>
