<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HotMail - Hot sauce delivery</title>

    <link href="assets/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="assets/images/chili-sauce.png" rel="icon">
    <link href="assets/images/chili-sauce.png" rel="apple-touch-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hot Mail</title>
  </head>



  <body>
    <!-- navbar -->
    <nav class="navbar">
      <ul class="nav-links">
        <div class="menu">
          <li><a href="#">What we do</a></li>
          <li><a href="#">Shop sauce</a></li>
          <li class="services">
            <a href="#">more</a>
          </li>
        </div>
      </ul>
      <div class="logo">HM</div>
    </nav>

    <!-- bannerimg -->
    <div class="banner">
      <div>
        <h1>SPICE IS THE VARIETY OF LIFE</h1>
        <a href="#" class="myButton">SHOP NOW</a>
      </div>
    </div>

    <!-- cards -->
    <div class="container">
      <div class="cards">

        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/2086/9287/products/apollo.jpg" alt="" height="400px">
          <h4>The Last Dab: Apollo | Hot Ones Hot Sauce</h4>
          <p>£22.00</p>
        </div>

        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/2086/9287/products/dabxxx1.jpg" alt="" height="400px">
          <h4>The Last Dab XXX | Hot Ones Hot Sauce</h4>
          <p>£20.00</p>
        </div>

        <div class="card">
          <img src="https://cdn.shopify.com/s/files/1/2086/9287/products/reaperdab1_0c0eb937-a760-457e-9017-ea891db5ce03.jpg" alt="" height="400px">
          <h4>The Last Dab - Reaper Edition | Hot Ones Hot Sauce</h4>
          <p>£21.00</p>
        </div>

      </div>
    </div>

    <!-- newsletter -->
    <div class="box">
      <div class="newsletter-signup__inner inner blue_dark">
        <div class="newsletter-signup__text">
          <h1>GET YOUR FREE E-BOOK</h1>
          <p>Loads of classic recipes, all for free!</p>
        <div class="form-controler">
        <input type="text" class="input" placeholder="Enter e-mail adress" />
        <button class="btn">SUBSCRIBE</button>
      </div>
    </div>

  </body>
  <div class="footer">
    <div class="links">
      <h2><a href="#">HOME</h2>
      <h2><a href="#">ABOUT</h2>
      <h2><a href="#">CONTACT</h2>
      <h2><a href="#">FAQ</h2>
      <br>
      <p>This website was coded with spice at HotMail HQ.</p>
    </div>
  </div>
 </html>
