<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/119/119382.png">

<!-- bannerimg -->
<div class="banner">
  <div>
      <h1>HOT MAIL</h1>
    <h2>VARIETY IS THE SPICE OF LIFE</h2>
    <a href="products" class="myButton">SHOP NOW</a>
  </div>
</div>

<%# about us %>
<div id="introhead">
</div>
<div class="row">
  <div class="column">
    <img id="stock" src="https://eqhct8esjgc.exactdn.com/wp-content/uploads/2021/09/hot-pepper-sauce-puddle-sq.jpg?strip=all&lossy=1&ssl=1" alt="">
  </div>
  <div class="column" id="fill">
  <h1>INTRODUCING: HOT MAIL</h1>
    <p>When it comes to hot sauce, supermarkets often have a lacklustre selection. We have the solution.</p>
    <p>With a range of sauces from all over the world, there's something for everyone. Whether you are a sauce veteran or a complete newbie, Hot Mail has you covered.</p>
    <p>We work with independent sauce makers to bring a unique flavour, right to your door.</p>
    <p>Have a browse and see what catches your eye ;)</p>
  </div>
</div>




<!-- cards -->
<div class="container">
<h2 id="title">TOP PICKS</h2>
  <div class="cards">

    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/2086/9287/products/apollo.jpg" alt height="400px">
      <h4>The Last Dab: Apollo | Hot Ones Hot Sauce</h4>
      <p>£22.00</p>
    </div>

    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/2086/9287/products/dabxxx1.jpg" alt="" height="400px">
      <h4>The Last Dab XXX | Hot Ones Hot Sauce</h4>
      <p>£20.00</p>
    </div>

    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/2086/9287/products/reaperdab1_0c0eb937-a760-457e-9017-ea891db5ce03.jpg" alt="" height="400px">
      <h4>The Last Dab - Reaper Edition | Hot Ones Hot Sauce</h4>
      <p>£21.00</p>
    </div>

  </div>
</div>

<!-- newsletter -->
<div class="box">
  <div class="newsletter-signup__inner inner blue_dark">
    <div class="newsletter-signup__text">
      <h1>GET YOUR FREE E-BOOK</h1>
      <p>Loads of classic recipes, all for free!</p>
    <div class="form-controler">
    <input type="text" class="input" placeholder="Enter e-mail adress" />
    <button class="button">SUBSCRIBE</button>
  </div>
</div>


</div>

<%# testimonial %>

<div class="container">
<h2 id="title">WHAT PEOPLE THINK</h2>
  <div class="tests">

    <div class="test">
      <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000" alt height="400px" id="head">
      <h4>James</h4>
      <p>"The best sauce around!"</p>
    </div>

    <div class="test">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" height="400px" id="head">
      <h4>Gary</h4>
      <p>"Amazing selection!"</p>
    </div>

    <div class="test">
      <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="" height="400px" id="head">
      <h4>Suzie</h4>
      <p>"Can not be beat!"</p>
    </div>

  </div>
</div>
