<!-- bannerimg -->
<div class="banner">
  <div>
    <h1>SPICE IS THE VARIETY OF LIFE</h1>
    <a href="products" class="myButton">SHOP NOW</a>
  </div>
</div>

<!-- cards -->
<div class="container">
  <div class="cards">

    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/2086/9287/products/apollo.jpg" alt="" height="400px">
      <h4>The Last Dab: Apollo | Hot Ones Hot Sauce</h4>
      <p>£22.00</p>
    </div>

    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/2086/9287/products/dabxxx1.jpg" alt="" height="400px">
      <h4>The Last Dab XXX | Hot Ones Hot Sauce</h4>
      <p>£20.00</p>
    </div>

    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/2086/9287/products/reaperdab1_0c0eb937-a760-457e-9017-ea891db5ce03.jpg" alt="" height="400px">
      <h4>The Last Dab - Reaper Edition | Hot Ones Hot Sauce</h4>
      <p>£21.00</p>
    </div>

  </div>
</div>

<!-- newsletter -->
<div class="box">
  <div class="newsletter-signup__inner inner blue_dark">
    <div class="newsletter-signup__text">
      <h1>GET YOUR FREE E-BOOK</h1>
      <p>Loads of classic recipes, all for free!</p>
    <div class="form-controler">
    <input type="text" class="input" placeholder="Enter e-mail adress" />
    <button class="button">SUBSCRIBE</button>
  </div>
</div>
