<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/119/119382.png">

<!-- no basket page -->
<div class="container">
  <div class="justify-content-center">
  <br>
  <br>
    <h1>Your basket is empty</h1>
    <p>Add items to basket</p>
    <a href="products" class="btn btn-primary px-5 py-3">SHOP NOW</a>
  </div>
</div>


  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
