<div class="container">
  <h1 class="my-5">OUR STORY</h1>

  Welcome to the wonderful world of HotMail Chilli Sauce. Being a lover of all things fiery I have spent decades tweaking and perfecting recipes passed down through the family and in recent years have been working my way into kitchens across the world.

  HotMail's Chilli Sauce is a small independant business set in the beautiful backdrop of the High Peaks. We have been growing and expanding little by little every year and grow a huge variety of fresh chillies right here in our poly tunnels! As you can imagine, growing chillies here in the UK isn’t an easy task so with the help of lighting and my very own secret organic soil mix, I can ensure we have enough fresh produce to keep us going all year round!

  <h1 class="my-5">ABOUT OUR COMPANY</h1>

  <p>I’ve always had a passion for spicy food.  Thankfully my palate broadened since visiting the different Continents of the world, and spicy food became a passion for me. After years of experimenting in the kitchen and finding new and exciting ways to make deliciously fiery recipes, the future family business was staring us in the face. It was there in black and White. the heat of the different flavorful foods was something we could put in a bottle and sell.

  I decided to start with a few different originating chilli sauces thus creating The Last Dab hot sauces (Finish Him), Ghost Pepper (Extreme Caution).

  Since then the HotMail family has unleashed a range of products so diverse it makes Lady Gaga’s wardrobe look like a Primark clearance rail. Hot sauces, chutneys, jams, rubs, nuts and pickles are just some of the products people have been queueing up to try at food markets and festivals around the UK. It seems no one can resist our products once they try them. We’ve now also achieved a few Great Taste Awards from the Guild of Fine Food which only helps fuel our passion to one day be on the shop shelves in every store!.

  All of the products that we sell are made in small batches with the freshest ingredients available, right here in Hoxton by me personally, so you needn’t worry about some Skynet-like facility pumping whatever they like into your food. Only the best for our customers.

  If you’re new to the HotMail range, we have detailed descriptions of all our products, plenty of outstanding reviews and a blog with loads of information right here just waiting for you. Have a read, fill your cart and make some room in the fridge.</p>
</div>
