 /* BANNER */


 .banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://truffle-assets.imgix.net/b94f7aac-102-hotsaucekit4ways-land2.jpg);
  background-size: cover;
  height: 500px;
  background-position: center;
  box-shadow: 10px;
  text-align: center;
  margin-bottom: 24px;
}

.banner h1 {
  text-align: center;
  color: #f4f4f6;
  padding: 20px;
  padding-top: 3%;
  font-size: 124px;
  font-weight: bold;
}

.banner h2 {
  text-align: center;
  color: #f4f4f6;
  padding: 20px;
  padding-top: 3%;
  font-size: 30px;
  font-weight: bold;
}
