 /* BANNER */


 .banner {
  background-image: url(https://truffle-assets.imgix.net/b94f7aac-102-hotsaucekit4ways-land2.jpg);
  background-size: cover;
  height: 500px;
  background-position: center;
  box-shadow: 10px;

}

.banner h1 {
  text-align: center;
  color: #f4f4f6;
  padding: 20px;
  padding-top: 3%;
  font-size: 70px;
}
