// INDEX PAGE CARDS
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.card-trip {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-trip > img {
  height: 300px;
  width: auto;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

a{
  text-decoration: none;
  color: #1b2432;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  height: 200px;
}

.card-title {
  height: 40px;
}

// SHOW PAGE CARD
.show-card{
  width: 50%;
}

.show-img{
padding-left: 16px;
height: 80vh;
}

.show-img img{
  height: 100%;
}
