
/* FOOTER */

.footer {
  text-align: left;
  padding: 32px;
  background-color: #f4f4f6;
  text-decoration: none;
  color: #f4f4f6;
  line-height: 10px;
  padding-left: 5%;
}

.footer a {
  text-decoration: none;
  color: #1b2432;
}

a:hover {
  color: #EE8434
}

.footer p {
  color: gray;
}

#made {
  font-size: 10px;
}
