
/* FOOTER */

.footer {
  text-align: center;
  padding: 32px;
  background-color: #f4f4f6;
  text-decoration: none;
  color: #f4f4f6;
}

.footer a {
  text-decoration: none;
  color: #1b2432;
}

a:hover {
  color: #EE8434
}

.footer p {
  color: gray;
}
