// ORDER INDEX PAGE CARDS

.order-page-card {
  display: flex;
  flex-direction: row;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.order-details-box {
  width: 50%;
  margin: 16px;
  padding: 8px;
  align-items: start;
  height: 100%;
}

.order-images-card {
  width: 50%;
  margin: 16px;
  padding: 8px;
  justify-content: flex-end;
  align-items: end;
  height: 100%;
}

.order-images-card > img {
  height: 160px;
  justify-content: flex-end;
  flex-direction: row-reverse;
  width: auto;
  align-items: right;
  align-items: end;
}

// .card-trip h2 {
  //   font-size: 16px;
  //   font-weight: bold;
  //   margin: 0;
  // }

  // .grid{
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  //   grid-gap: 8px;
  // }
  .card-trip p {
    font-size: 12px;
    opacity: .7;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: #1b2432;
  text-decoration: none;
  text-align: center;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  height: 200px;
}

.card-title {
  height: 40px;
}


.cardButton {
	background: linear-gradient(to bottom, #ee8534 5%, #ff8b38 100%);
	background-color: #ee8534;
	border-radius: 28px;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding: 11px 24px;
	text-decoration:none;
}

.cardButton:hover {
	background:linear-gradient(to bottom, #ff8b38 5%, #ee8534 100%);
	background-color:#ff8b38;
}
.cardButton:active {
	position:relative;
	top:1px;
}



// SHOW PAGE CARD
.show-card{
  width: 50%;
}

.show-img{
padding-left: 16px;
height: 80vh;
}

.show-img img{
  height: 100%;
}
